* {
     margin: 0;
     padding: 0;
     outline: none;
     border: none;
     box-sizing: border-box;
     font-family: "Inter", Helvetica, Arial, sans-serif;
   }
   * {
     box-sizing: border-box;
   }
   user agent stylesheet div {
     display: block;
   }
   
   html,
   body,
   #root {
     position: relative;
     min-height: 100vh;
     color: var(--color-text);
     background: var(--color-background);
     -webkit-font-smoothing: antialiased;
   }
   
   :root {
     --color-primary: #19a6a5;
     --color-secondary: #a8fe75;
     --colors-gradient: var(--color-primary), var(--color-secondary);
     --color-title: #fff;
     --color-text: rgba(255, 255, 255, 0.8);
     --color-background: #000;
     --color-gray-line: #333;
     --color-bg-box: rgb(20, 20, 20);
     --swiper-theme-color: #000;
   }
   :root {
     --swiper-navigation-size: 44px;
     /* --swiper-navigation-color: var(--swiper-theme-color); */
   }
   :root {
     --swiper-theme-color: #0086ff;
   }
   :root {
     --swiper-navigation-size: 44px;
   }
   :root {
     --swiper-theme-color: #007aff;
   }